*.out
*.vtk
**/results/**
**/CMakeFiles/**
**/build/**
spectral
main
**vtune**
**/neural/**dataset**/**
**/MachineLearning/**
**/__pycache__/**
*.pyc
**/GIFs/**
*.gif
**epoch**.png
**comp**.png
*.jpg
*.eqx
*.npz
**SlurmOutput**
**/evaluation/comp_**/**.png
**/.ipynb**/**