*.out
*.vtk
**/results/**
**/CMakeFiles/**
**/build/**
spectral
main
**vtune**
**/neural/**dataset**/**
**/MachineLearning/**
**/__pycache__/**
*.pyc
**/GIFs/**
*.gif
**epoch**.png
**comp**.png
**shu-osher**.png
**lax**.png
**sod**.png
**random**.png
**/compare/**.png
*.jpg
*.eqx
*.npz
**SlurmOutput**
**/evaluation/comp_**/**.png
**/.ipynb**/**
**/html/**
**/latex/**
*.mp4